%container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 85%;
  }
  @media (max-width: 1080px) {
    width: 90%;
  }
  @media (max-width: 950px) {
    width: 95%;
  }
}
